#titleErr {
	font-size: 3rem;
	color: rgb(6, 6, 6);
	text-shadow: 0 0 5px rgb(31, 29, 29);
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 10%;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	margin-bottom: 15vh;
}

main {
	height: 98vh;
	width: 98vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	background-color: rgb(145, 198, 214);
}
