main#account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 40px;
  padding-top: 100px;
  z-index: 1;
  width: 100%;
  border-radius: 50%;
}
.profile-photo img {
  border-radius: 50%;
  filter: invert(1);
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  padding-bottom: 40px;
}

.profile-name,
.profile-disconnect,
.profile-parameters,
.profile-preferences {
  display: flex;
  justify-self: center;
}

.profile-parameters,
.profile-preferences {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: max-content;
  width: 40vw;
  padding: 1.5rem;
  border-radius: 10px;
}

.profile-name {
  align-items: center;
  justify-content: flex-start;
  height: clamp(50px, 10vw, 100px);
  width: 40vw;
  grid-area: 1 / 1 / 2 / 2;
}
.profile-disconnect {
  align-items: center;
  justify-content: flex-end;
  height: clamp(50px, 10vw, 100px);
  width: 40vw;
  grid-area: 1 / 2 / 2 / 3;
}
.profile-parameters {
  grid-area: 2 / 1 / 3 / 2;
}
.profile-preferences {
  grid-area: 2 / 2 / 3 / 3;
}

.profile-preferences-list,
.profile-parameters-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.profile-parameters-list li,
.profile-preferences-list li {
  list-style: none;
  margin-bottom: 1rem;
}

.profile-preferences-modify,
.profile-parameters-modify {
  align-self: flex-end;
  margin-top: clamp(10px, 2vw, 20px);
}

.profile-disconnect span,
.profile-parameters-modify span,
.profile-preferences-modify span,
.profile-generate span {
  margin: 5px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 3px 6px;
}

.profile-disconnect span:hover,
.profile-parameters-modify span:hover,
.profile-preferences-modify span:hover {
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.profile-preferences-type {
  display: flex;
  flex-wrap: wrap;
}

.pref-list {
  display: flex;
  flex-wrap: wrap;
}

.pref-list p {
  font-size: clamp(10px, 2vw, 15px);
  background-color: black;
  color: white;
  margin: 3px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  cursor: pointer;
}

.profile-sharing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
}

.profile-sharing .profile-name {
  width: 100%;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-stats div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

#account .notation {
  flex-direction: row;
}

.profile-generate {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.profile-generate button {
  position: absolute;
  right: -135px;
  top: 20px;
  border: none;
  background: none;
}

.profile-generate button span {
  color: white;
}

.profile-generate button:hover {
  cursor: pointer;
}
