#background-img {
	position: absolute;
	background: url(../images/accueil-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: calc(100vh - 50px);
	width: 100%;
	z-index: -1;
	filter: brightness(0.5);
}

main#accueil {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 50px);
}

main#accueil h1 {
	font-size: clamp(2.2rem, 5vw, 4rem);
	font-weight: 700;
	color: #fff;
	text-align: center;
	padding-top: 10%;
}

main#accueil h2 {
	font-size: clamp(1.2rem, 3vw, 2rem);
	font-weight: 500;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

main#accueil span {
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	height: 50px;
	width: 100%;
	border-radius: 20px;
}

.item01 {
	height: 100%;
	width: 80%;
}
.item02 {
	height: 100%;
	width: 20%;
}
.item01 > input {
	height: 100%;
	width: 100%;
}
.item02 > div {
	height: 100%;
	width: 100%;
}
.formItem input {
	z-index: 100;
	background: inherit;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 20px;
}
#input02 {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	z-index: 100;
	background: inherit;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	padding-left: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.svg {
	margin-top: 10px;
	margin-left: 60px;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2500.95 2500.95' style='enable-background:new 0 0 2500.95 2500.95;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1 c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4 c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z' /%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center, 50%, 50%;
}
/* button {
	display: flex;
	align-items: center;
	justify-content: center;
} */

#input01 {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
}
@media (max-width: 920px) {
	.svg {
		display: none;
	}
	form {
		flex-direction: column;
		margin-top: 100px;
	}
	.formItem {
		margin-bottom: 20px;
	}
	#input02 {
		height: 50px;
	}
}
