#background-img {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: calc(100vh - 50px);
	width: 100%;
	z-index: -1;
	filter: brightness(0.5);
}

main#accueil {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 50px);
}

main#accueil h1 {
	font-size: clamp(2.2rem, 5vw, 4rem);
	font-weight: 700;
	color: #fff;
	text-align: center;
	padding-top: 5%;
}

main#accueil h2 {
	font-size: clamp(1.2rem, 3vw, 2rem);
	font-weight: 500;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

main#accueil span {
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 400;
	color: #fff;
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	height: 50px;
	width: 100%;
	border-radius: 20px;
}

.item01 {
	height: 100%;
	width: 90%;
}
.item02 {
	height: 100%;
}
.item01 > input {
	height: 100%;
	width: 100%;
}
.item02 > div {
	height: 100%;
	width: 100%;
}
.formItem input {
	z-index: 100;
	background: inherit;

	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
}
#input02 {
	width: 60px;
	height: 100%;
	border-radius: 20px;
	z-index: 50;
	background: inherit;

	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* button {
	display: flex;
	align-items: center;
	justify-content: center;
} */
#input03 {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	z-index: 100;
	background: inherit;
	
	/* Glassmorphism */
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 20px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.item03 {
	height: 50px;
	width: 50px;
	margin-left: calc(50% - 25px);
	margin-top: 50px;
}
#input01 {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.2rem;
	padding-left: 30px;
}
#explain {
	color: white;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	max-height: 50vh;
}
#earth {
	width: 200px;
	height: auto;
}
#explain-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 80%;
}
#explain-container > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
#explain-container div > div {
	padding: 20px;
	margin: 10px;
}
#explain-container span.number {
	font-size: 2.8rem;
	font-weight: 700;
	padding: 20px;
}
#nb1 {
	animation: glow 5s infinite;
	animation-delay: 0s;
}
#nb2 {
	animation: glow 5s infinite;
	animation-delay: 1s;
}
#nb3 {
	animation: glow 5s infinite;
	animation-delay: 2s;
}
#nb4 {
	animation: glow 5s infinite;
	animation-delay: 3s;
}
#btn-connect button {
	padding: 10px;
	margin: 5px;
	font-size: 1.3rem;
	cursor: pointer;
}
#btn-connect {
	display: flex;
	flex-direction: column;
}

/* Text-shadow that make .number look like it's glowing */
@keyframes glow {
	0% {
		text-shadow: 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1), 0 0 0 rgba(255, 255, 255, 1)
	}
	50% {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8)
	}
	100% {
		text-shadow: 0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgba(255, 255, 255, 0), 0 0 40px rgba(255, 255, 255, 0)
	}
}

@media (max-width: 920px) {
	form {
		flex-direction: column;
		margin-top: 100px;
	}
	.formItem {
		margin-bottom: 20px;
	}
	#input02 {
		height: 50px;
	}
}




#worldmap {
	margin:0 auto;
	transform: scale(0.29);
	position: absolute;
	top: 178px;
	left: -87px;
}
#worldmap svg {background:rgba(20,167,224,0.5);border-radius: 200px;box-shadow:0 0 10px rgba(0,0,0,0.4);}
.land {fill: rgba(18, 201, 88, 0.9);}

#turnglobe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#turnglobe img {
	opacity: 0.75;
}