.alert {
    padding: 10px;
    border-radius: 5px;
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.494);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    
    font-size: 1.4rem;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    
    border-color: rgba(255, 0, 0, 0.717);
    color: #ff0019;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}