.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1rem, 2vw, 2rem);
}

#modal-information .form-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(10px, 1vw, 20px);
}

#modal-information input {
  border: none;
  outline: none;
  background: inherit;
  border: black 2px solid;
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
}

#modal-information input[type="submit"] {
  margin: 5px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 1rem 1.5rem;
}

#modal-information input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

label {
  font-family: "SF Pro Display", sans-serif;
}

.form-item {
  position: relative;
}

.form-item-icon {
  position: absolute;
  top: 0.82rem;
  left: 1.4rem;
  font-size: 1.3rem;
  opacity: 0.4;
}

.form-item-icon-left {
  position: absolute;
  top: 0.82rem;
  right: 1.4rem;
  font-size: 1.3rem;
  opacity: 0.4;
}

.group-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(10px, 1vw, 20px);
}

.black-text {
  color: black;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}
