.glass {
    color: #ffffff;
    background: rgba(150, 150, 150, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}