#accueil {
  flex-direction: row !important;
  gap: 100px;
}

.map {
  width: 80%;
  height: 400px;
  position: relative;
  margin-bottom: 100px;
}

.marker {
  transform: translate(-50%, calc(-100% - 10px));
  white-space: nowrap;
  font-size: 1.2em;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(34, 80, 41);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.marker::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(34, 80, 41);
}

.marker.is-active {
  filter: brightness(1.5);
  z-index: 10;
}
