.journey-preview {
    padding: 10px;
    margin: 10px;
    width: 400px;
    min-width: 400px;
    cursor: pointer;
}

.journey-step {
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    padding: 10px;
    padding-top: 0px;
    font-size: 1.5em;
}

.place-name {
    padding-top: 0px;
    font-size: 1.75em;
}

.journey-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.journey-footer div {
    width: 65%;
}

.profile-link {
    text-decoration: underline;
    color: #81baff;
}