
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    /* Glassmorphism */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    margin: 10px;
}

.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.category-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-list p {
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding: 5px;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.category-list .selected {
    box-shadow: none;
    background-color: rgb(48, 98, 249);
    color: white;
    animation: selected 0.25s;
}

#validate-modif-pref {
    font-size: 22px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 3px 6px;
}

@keyframes selected {
    0% {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: rgba(0,0,0,0);
        color: black;
    }
    100% {
        box-shadow: none;
        background-color: rgb(48, 98, 249);
        color: white
    }
}