.journey-container {
    display: flex;
    overflow-x: scroll; 
}

.journey-container::-webkit-scrollbar {
    display: none;
}

h2 {
    padding: 20px;
    font-size: 2em;
}

summary {
    font-size: 1.5em;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

details {
    width: 100%;
}

#myJourneys {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-container {
    display: flex;
}

.scroll-btn-left, .scroll-btn-right {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}