main#accueil {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    margin-top: 80px;
    color: white;
}

.glass {
    width: 70%;
    height: 100%;

    margin-top: 20px;
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}
h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
h2 {
    font-size: 25px;
    font-weight: 600;

}
.formItem {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}
input {
    color : white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
    
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}
select {
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}
#options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
    justify-content: space-between;
}
button {
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;

    transition: all 0.3s ease;
    cursor: pointer;
}
button:hover {
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 78, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}

/* Color of the clock is white */
input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(151deg) brightness(106%) contrast(105%);
  }