* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: grey;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 10px 0 10px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}

li {
  list-style: none;
  display: inline;
}

ul li span {
  font-size: 25px;
  font-weight: 600;
}

ul .right li + li a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}

ul .right li + li {
  background-color: black;
  height: 25px;
  border-radius: 25px;
  padding: 5px;
}

svg {
  height: 23px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 768px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 10px 0 10px;
  }
  ul .right {
    display: none;
  }
}
